body {
    background: linear-gradient(45deg, #e7e4f3, #c4c2e7);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    color: #252525;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    text-align: center;
    padding: 20px;
    max-width: 600px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.logo {
    width: 250px; /* Adjust size as needed */
    height: 250px; /* Adjust size as needed */
    margin: 0 auto 20px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.tagline {
    color: #8e93ff;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.download-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #8e93ff;
    color: #ffffff;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 20px;
    transition: background-color 0.3s;
}

.download-btn:hover {
    background-color: #7a83e1;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #8e99ad;
}

nav ul li a:hover {
    text-decoration: underline;
}

footer {
    margin-top: 20px;
    font-size: 0.7em;
    color: #8e99ad;
}
